div{
    background-image: url(https://img.freepik.com/free-photo/flat-lay-bookmark-books-assortment_23-2149894329.jpg);
    background-size: contain;
    background-repeat: repeat-x;
    padding: 50px;
    margin: 50px;
    background-attachment:fixed;

    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight:lighter;

    border: 5px dotted rgb(255, 135, 135);
    border-radius: 10px;
    border-top-right-radius: 40px;

}