
.box{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

.box:hover{
    /* transform: translate(50px,50px);
    transition: transform 1s;
    transform: rotate(20deg);
    transform: rotate(-20deg);
    transform: scale(1.1,1.1);
    transform: scaleX(1.1);
    transform: scaleY(1.2); */
    transform: skew(20deg,20deg);
    /* transform: skewX(20deg); */
    /* transform: skewY(20deg); */
    /* transform: rotate(20deg) scale(1.1); */
}